fastapi
uvicorn[standard]
python-multipart
python-dotenv
gunicorn

pydantic
PyJWT
pwdlib[argon2]


azure-storage-queue
azure-storage-blob
supabase
httpx
openai

Pillow
ImageHash
qrcode[pil]
